@charset "utf-8";
.zi{
	font-size: 14px;
}
.zi1{
	line-height: 38px;
}
.pnone{
	padding-left: 10px;
}
.mone{
	margin-top: 20px;
}
.mtow{
	margin-right: 0px;
}
.mthree{
	margin-left: 240px;
}
.mfour{
	margin-top: 70px;
}
.mfive{
	margin-left: 14%;
}
.msix{
	margin-left: 12px;
}
.meight{
	margin-top: 10px;
}
.mnine{
	margin-top: 0;
}
.mtun{
	margin-top: 90px;
}
.mtt{
	margin-top: 40px;
}
.mele{
	margin-top: 35px;
}
.mt{
	font-size: 16px;
	height: 26px;
	line-height: 26px;
}
.tu{
	width: 100%;
}
.tu1{
	width: 41px;
	height: 44px;
	display: inline-block;
}
.zi ul li{
	margin: 0 auto;
}
.kuang{
	width: 36px;
	height: 38px;
	line-height: 38px;
	border-bottom: 3px solid #FFCF3D;

}
.dcolor{
	background: #FFCF3D;
	height: 180px;
	color: white;
}
.htop{
	width: 100px;
	height: 60px;
	line-height: 60px;
	border-bottom: 3px solid #FFCF3D;
}
.twidth dd{
	font-size: 12px;
	line-height: 30px;
}
.tu2{
	width: 328px;
	height: 360px;
}
.yangshi{
	margin: 0 auto;
	font-size: 24px;
	height: 60px;
	width: 100px;
	line-height: 60px;
	border-bottom: 3px solid #FFCF3D;
}
.anniu{
  display: block;
  font-size: 16px;
  width: 154px;
  height: 42px;
  line-height: 42px;
  background: #EFEFEF;
  color: #000000;
  border-radius: 50px;
  margin: 0 auto;
}
.tu3{
	display: block;
	width: 278px;
	height: 278px;
	border: 1px solid #DEDDDD;
	margin-top: 30px;
}
.rnone{
	margin-right: 0;
}
.bg{
	background: #FFCF3D;
	color: #FFFFFF;
}
.bg h3{
	width: 100px;
	height: 60px;
	line-height: 60px;
	border-bottom: 3px solid #FFFFFF;
}
.bg ul{
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 26px;
}
.bimg{
	height: 260px;
	background: url(../img/jianpan.png);
	background-size: 100% 260px;
}
.tu4{
	width: 300px;
	height: 170px;
}
.mfour dt{
	width: 310px;
	font-size: 16px;
	line-height: 68px;
}
.mfour dd{
	width: 310px;
	font-size: 14px;
	line-height: 34px;
}
.bgg{
	width: 100%;
	height: 205px;
	background: #151515;
	font-size: 16px;
}
.bgg address{
	line-height: 30px;
}
